* {
  background-color: darkslategray;
  text-align: center;
  color: azure;
}

main > div {
  display: inline-block;
  border: 0.5vh solid aquamarine;
  margin: 2vh;
  padding: 0 2vh;
}

img {
  max-height: 18vh;
}

footer {
  margin-top: 2vh;
  padding: 3vh;
  background-color: gray;
}